
body {
  position: relative;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  flex: 1;
  height: 100vh;
}
