.project-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(42, 42, 42);
  width: 100vw;
  height: 10vh;

}

.project-bar button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 14px;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  color: #ffffff;
  transition: background-color font-size 0.4s ease;
  font-size: small;
}

.project-bar button.active {
  background-color: #3498db;
  color: white;
  font-size: large;
  
}

.css-1oqqzyl-MuiContainer-root {
  max-width: none !important;
}
