.timer-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.circular-progress {
  position: absolute;
  transform: translate(90px, -150px);
}

.timer-display {
  font-size: 2em;
  margin: 0;
  color: white; 
}
